@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Roboto:wght@400;500;700&display=swap');

:root {
    --white: #FDFDFD;
    --gray: #AEAEAE;
    --blue: #02D9DA;
    --primary: #0A192F;

    --fira: 'Fira Code', monospace;
    --roboto: 'Roboto', sans-serif;
}

* {
    color: var(--white);
    font-family: var(--roboto);
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

svg:hover path {
    stroke: #02dada;
}

body {
    background: var(--primary) url(imgs/Vector.jpg) no-repeat;
    background-size: cover;
}

header {
    height: 100px;
    padding: 70px 100px 0;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.menu li {
    margin: 0 10px;
}

.link {
    position: relative;
}

.link:hover, .link:focus {
    color: var(--blue);
} 

.link::after {
    content: " ";
    background: linear-gradient(90deg, rgba(10,25,47,1) 0%, rgba(2,217,218,1) 100%);
    bottom: 0;
    height: 1px;
    left: 0;
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 0%;
}

.link:hover::after, .link:focus::after {
    color: var(--white);
    font-weight: bold;
    width: 100%;
}

.resumeButton {
    color: var(--blue);
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--blue);
    border-radius: 5px;
    font-size: 16px;
    padding: 0.75rem 1rem;
}

.socialFixedBar {
    left: 40px;
    right: auto;
}

.content::after {
    content: "";
    width: 10px;
    background-image: url(./imgs/bar-left.png);
}

.socialFixedBar ul li {
    margin: 15px auto;
}

.socialFixedBar::after {
    height: 110px;
}

.emailFixedBar {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: auto;
    right: 40px;
    -webkit-box-align: center;
}

.emailFixedBar a {
    color: var(--gray);
    font-family: var(--fira);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    margin: 20px auto;
    padding: 10px;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.emailFixedBar::after {
    height: 70px;
}

.socialFixedBar, .emailFixedBar {
    bottom: 0;
    position: fixed;
}

.socialFixedBar::after, .emailFixedBar::after {
    content: "";
    background-color: var(--blue);
    display: block;
    margin: 0 auto;
    width: 1px;
}