@import './variables';

* {
    color: $white;
    font-family: $roboto;
    margin: 0;
    padding: 0;
}

body {
    background: $primary url(../../../public/images/Vector.jpg) no-repeat;
    background-size: 100vw;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

svg:hover { 
    path {
        stroke: $blue;
    }
}

main {
    padding: 0 100px;
}

.link {
    position: relative;
    &:hover, &:focus {
        color: $blue;
    }
    &::after {
        content: " ";
        background: linear-gradient(90deg, $primary 0%, $blue 100%);
        bottom: 0;
        height: 1px;
        left: 0;
        position: absolute;
        transition: 0.3s ease-in-out;
        width: 0%;
    }
    &:hover::after, &:focus::after {
        color: $white;
        font-weight: bold;
        width: 100%;
    }
}
