.reception {
    min-height: 100vh;
    h1 {
        color: $blue;
        font-family: $fira;
    }
    h2 {
        font-size: 50px;
    }
    h3 {
        color: $gray;
        font-size: 42px;
    }
    p {
        color: $gray;
        font-size: 21px;
        width: 23rem;
    }
}

.line-1 {
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
}

.anim-typewriter {
    animation: typewriter 4s steps(44) .5s 1 normal both,
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 28rem;
    }
}

