#experiences {
  .title {
    &::after {
      margin-top: 50px;
      width: 11rem;
    }
  }
  .container {
    background: linear-gradient(
      160deg,
      transparent 50%,
      rgba(2, 217, 218, 0.25) 100%
    );
    border: 2px solid rgba(2, 217, 218, 0.25);
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 80%;
    }
    @media screen and (min-width: 1024px) {
      width: 70%;
    }
    .pictureExperience {
      filter: opacity(40%);
      border-radius: 50px 0;
      max-width: 200px;
    }
    .company {
      font-size: 26px;
      max-width: 20ch;
      @media screen and (min-width: 1024px) {
        max-width: 100%;
      }
    }
    .position {
      color: $blue;
      font-family: $fira;
      font-size: 20px;
      max-width: 25ch;
      @media screen and (min-width: 1024px) {
        max-width: 100%;
      }
    }
    .company, .position {
      margin: 0 auto;
      @media screen and (min-width: 1024px) {
        margin: 0;
      }
    }
    .period {
      color: $gray;
      font-size: 16px;
    }
    .description {
      color: $gray;
      max-width: 50ch;
      @media screen and (min-width: 768px) {
        max-width: 100%;
      }
    }
  }
}

